{% extends 'task_traking/index.html' %}

{% block content %}
    
        <p>{{detailtask.title}}</p>
        <p>{{detailtask.description}}</p>
        <p>{{detailtask.status}}</p>
        <p>{{detailtask.priority}}</p>
        <p>{{detailtask.due_date}}</p>
        <p>{{detailtask.updated_at}}</p>
        <p>{{detailtask.created_at}}</p>
        <p>{{detailtask.created_by}}</p>

        <a href="{% url 'create_comment' %}">написати коментарій</a>

        {% for i in coment %}
                <li>{{i.author}}</li>
                {{i.description}}
                {{i.media}}<br><br>
        {% endfor %}
{% endblock %}